<div class="block">
    <div class="header">
      <h1>MAIN</h1>
    </div>
<div *ngIf="projects.length" class="notes">
    <div *ngFor="let note of projects" class="note">
      <a [routerLink]="['/notes/project', note.id]"> {{note.title}} {{note.type}} </a>
      <button mat-button (click)="removeProject.emit(note)">
        <mat-icon>highlight_remove</mat-icon>
      </button>
    </div>
</div>
<div class="add-container">
    <mat-form-field>
      <input matInput placeholder="Новый проект" [(ngModel)]="newProjectText">
    </mat-form-field>
    <button mat-fab aria-label="add project" (click)="addProject()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

