<div class="block">
  <div class="header">
    <h1>Сортировка</h1>
  </div>
  <div>
    <div class="note">
      <div>{{mainInbox[0].title}}</div>
      <div class="time">{{mainInbox[0].creationLocalDateTime}}</div>
      <button mat-mini-fab (click)="skipItem()">
        <mat-icon>next_plan</mat-icon>
      </button>
    </div>
    <div class="sort-container">
      <div *ngFor="let item of projects">
        <button mat-raised-button (click)="sort(item.id)">
          {{item.title}}
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
