<div>
  Проект : {{this.project?.title}}
</div>
<div class="wrapper">
  <app-note-widget [items]="notes" [header]="notesHeader" [placeholder]="notesPlaceholder" [hideDate]="false" (removeItem)="removeNote($event)" (addNewItem)="addNote($event)"></app-note-widget>
  <app-note-widget [items]="subProjects" [header]="projectHeader" [placeholder]="projectPlaceholder" (addNewItem)="addProject($event)" (removeItem)="removeNote($event)"></app-note-widget>
</div>

<div class="wrapper">
  <app-note-widget [items]="inboxRecord" [header]="recordsHeader" [placeholder]="recordsPlaceholder" [hideDate]="false" [project]="project" (addNewItem)="addRecord($event)" (removeItem)="removeNote($event)"></app-note-widget>
</div>
