<div>
  Проект : {{this.project?.title}}
</div>
<div cdkDropListGroup>
  <div class="wrapper">
    <app-note-widget [items]="notes" [header]="notesHeader" [placeholder]="notesPlaceholder" [hideDate]="false" [listId]="notesListId"
      (removeItem)="removeNote($event)" (addNewItem)="addNote($event)" (dropItem)="drop($event)"></app-note-widget>
    <app-note-widget [items]="subProjects" [header]="projectHeader" [placeholder]="projectPlaceholder" [listId]="projectsListId"
      (addNewItem)="addProject($event)" (removeItem)="removeNote($event)" (dropItem)="drop($event)"></app-note-widget>
  </div>

  <div class="wrapper">
    <app-note-widget [items]="inboxRecord" [header]="recordsHeader" [placeholder]="recordsPlaceholder"
      [hideDate]="false" [project]="project" [listId]="recordsListId" (addNewItem)="addRecord($event)" (removeItem)="removeNote($event)"
      (dropItem)="drop($event)">
    </app-note-widget>
  </div>
</div>
