<div class="wrapper">

  <div class="block">
    <div class="header">
      <h1>Записи</h1>
    </div>
    <div>
      <div class="notes">
        <div class="note" *ngFor="let note of notes">
          <div>{{note.text}}</div>
          <div class="time">{{note.date === todaysDate ? null : note.date }} {{note.time}}</div>
        </div>
      </div>
      <div class="add-container">
        <mat-form-field>
          <input matInput placeholder="Новая заметка" [(ngModel)]="newNoteText">
        </mat-form-field>
        <button mat-fab aria-label="add new note" (click)="addNote()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="header">
      <h1>Сортировка</h1>
    </div>
    <div>
        <div class="note">
          <div>{{notes[0].text}}</div>
          <div class="time">{{notes[0].date}}</div>
        </div>
      <div class="sort-container">
        <button mat-raised-button>
          ЗАДАЧА
          <mat-icon>add</mat-icon>
        </button>
        <button mat-raised-button>
          ЗНАНИЕ
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>

</div>

<div class="wrapper">

  <div class="block">
    <div class="header">
      <h1>Задачи</h1>
    </div>
    <div>
      <div class="note">
        <div>{{notes[1].text}}</div>
        <div class="time">{{notes[1].date}}</div>
      </div>
      <div class="date-container">
        <mat-form-field>
          <input matInput placeholder="22.02.2022">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="10:30">
        </mat-form-field>
      </div>
      <div class="state-container">
        <button mat-raised-button>
          В ПРОРАБОТКУ
          <mat-icon>add</mat-icon>
        </button>
        <button mat-raised-button>
          НАПОМИНАНИЕ
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="header">
      <h1>Знание</h1>
    </div>
    <div>
      <div class="note">
        <div>{{notes[1].text}}</div>
        <div class="time">{{notes[1].date}}</div>
      </div>
      <div class="add-container">
        <button mat-raised-button>
          ПРОЕКТ 1
          <mat-icon>add</mat-icon>
        </button>
        <button mat-raised-button>
          ПРОЕКТ 2
          <mat-icon>add</mat-icon>
        </button>
        <button mat-raised-button>
          ПРОЕКТ 3
          <mat-icon>add</mat-icon>
        </button>
        <button mat-raised-button>
          ПРОЕКТ 4
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>

</div>