<div class="container" fxLayout="row" fxLayoutAlign="center none">

  <div fxFlex="95%">
    <div class="container" fxLayout="row" fxLayoutAlign="center none">

      <h2>Welcome back, {{currentUser.fullName}}!</h2>

    </div>

    <div class="container" fxLayout="row" fxLayoutAlign="center none">
      <div fxFlex="50%" class="text-center no-records animate">
        <mat-icon>dashboard</mat-icon>
        <p>This is the dashboard.</p>
        <div> Загрузи свои заметки в txt</div>
        <div>
          <input type="file" accept=".txt" (change)="onFileSelected($event)">
        </div>
        <button mat-raised-button color="primary" (click)="addNotes()">
          <div>Send to inbox notes</div>
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>